
.img-class{
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    
}

*{
    text-align: center;
}

@media screen and (max-width: 768px) {

    .img-class{
        width: 100%;
    }
    
}
